<h1 class="page-header">Review things</h1>

<form action="{{ 'finish' | url }}" method="post" class="form-horizontal">
	<check if="{{ @message }}">
		<div class="alert alert-danger">{{ @message }}</div>
	</check>
	<div class="form-group">
		<div class="col-md-3 col-md-offset-9" style="text-align: right">
			<div class="btn-group">
			  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    <i class="fa fa-check"></i> UnCheck All <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="javascript:;" class="uncheck-all" data-part="all">All</a></li>
			    <li><a href="javascript:;" class="uncheck-all" data-part="route">Route</a></li>
			    <li><a href="javascript:;" class="uncheck-all" data-part="controller">Controller</a></li>
			    <li><a href="javascript:;" class="uncheck-all" data-part="model">Model</a></li>
			    <li><a href="javascript:;" class="uncheck-all" data-part="view_list">View List</a></li>
			    <li><a href="javascript:;" class="uncheck-all" data-part="view_input">View Input</a></li>
			  </ul>
			</div>
			<div class="btn-group">
			  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    <i class="fa fa-check"></i> Check All <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="javascript:;" class="check-all" data-part="all">All</a></li>
			    <li><a href="javascript:;" class="check-all" data-part="route">Route</a></li>
			    <li><a href="javascript:;" class="check-all" data-part="controller">Controller</a></li>
			    <li><a href="javascript:;" class="check-all" data-part="model">Model</a></li>
			    <li><a href="javascript:;" class="check-all" data-part="view_list">View List</a></li>
			    <li><a href="javascript:;" class="check-all" data-part="view_input">View Input</a></li>
			  </ul>
			</div>
		</div>
	</div>
	<p><strong>Routes</strong></p>
	<div class="form-group">
		<label for="route[file]" class="col-md-2">Route Filename</label>
		<div class="col-md-8">
			<input type="text" name="route[file]" id="route[file]" value="{{ @POST.route.file }}" class="form-control">
		</div>
		<div class="col-md-2">
			<label class="checkbox-inline">
				<input type="checkbox" name="route[overwrite]" value="1"> Overwrite
			</label>
		</div>
	</div>
	<div class="form-group">
		<label for="route[content]" class="col-md-2">Route Content</label>
		<div class="col-md-10">
			<textarea name="route[content]" id="route[content]" class="form-control">{{ @POST.route.content }}</textarea>
		</div>
	</div>
	<hr>
	<p><strong>CRUDs</strong></p>
	<repeat group="{{ @POST.cruds }}" key="{{ @i }}" value="{{ @crud }}">
		<repeat group="{{ @crud }}" key="{{ @type }}" value="{{ @def }}">
			<div class="form-group">
				<label for="cruds[{{ @i }}][{{ @type }}][file]" class="col-md-2">{{ @type }} Filename</label>
				<div class="col-md-8">
					<input type="text" name="cruds[{{ @i }}][{{ @type }}][file]" id="cruds[{{ @i }}][{{ @type }}][file]" value="{{ @def.file }}" class="form-control">
				</div>
				<div class="col-md-2">
					<label class="checkbox-inline">
						<input type="checkbox" name="cruds[{{ @i }}][{{ @type }}][overwrite]" value="1"> Overwrite
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="cruds[{{ @i }}][{{ @type }}][content]" class="col-md-2">{{ @type }} Content</label>
				<div class="col-md-10">
					<textarea name="cruds[{{ @i }}][{{ @type }}][content]" id="cruds[{{ @i }}][{{ @type }}][content]" class="form-control">{{ @def.content }}</textarea>
				</div>
			</div>
		</repeat>
		<hr>
		<hr>
	</repeat>
	<hr>
	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
			<button type="submit" class="btn btn-primary">Finish</button>
			<button type="reset" class="btn btn-default">Clear</button>
		</div>
	</div>
</form>
{{ moe\Instance::assets('BODY.SCRIPT.READY', <<<JS
$('.check-all').on('click', function(){
	var part = $(this).data('part'),
		reg  = new RegExp(part);
	$('input[type=checkbox]').filter(function(){
		return part=='all'?true:reg.test($(this).prop('name'));
	}).prop('checked', true);
});
$('.uncheck-all').on('click', function(){
	var part = $(this).data('part'),
		reg  = new RegExp(part);
	$('input[type=checkbox]').filter(function(){
		return part=='all'?true:reg.test($(this).prop('name'));
	}).prop('checked', false);
});
JS
)
}}